@import "./utils/vars";
@import "./utils/mixins";
@import "./utils/placeholders";

@import "./base/reset";
@import "./base/common";

@import "./components/container";
@import "./components/section";
@import "./components/button";
@import "./components/button-close";
@import "./components/filter-button";
@import "./components/section-title";
@import "./components/backdrop&modal";
@import "./components/logo";
@import "./components/contacts";
@import "./components/site-nav";
@import "./components/button-subscribe";
@import "./components/address";
@import "./components/footer-title";
@import "./components/form";
@import "./components/social-links";
@import "./components/card-set";
@import "./components/card";
@import "./components/footer-socials";
@import "./components/footer-input";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/features";
@import "./layout/work";
@import "./layout/clients";
@import "./layout/team";
@import "./layout/footer";
