.work__examples {
  display: flex;
  margin-left: -30px;
}

.work__img {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
}

.img__thumb {
  display: inline-block;
  position: relative;
}

.img__description {
  @extend %align-items;
  position: absolute;
  bottom: 0;

  color: #e5e5e5;

  @include font(900, 14px, 1.14, 0.03em);

  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
