.address {
  font-style: normal;

  @include font(400, 14px, 1.71, 0);

  list-style-type: none;
}
.address__city {
  color: #ffffff;
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  @extend %transition-time;

  .address__item &:hover,
  .address__item &:focus {
    color: var(--accent-color);
  }
}

.address__item {
  margin-bottom: 9px;
}
