.subscribe-button {
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-left: 12px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
