.contacts {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
  @media (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }
}

.contacts__item {
  flex: 0 0 100%;
  @media (min-width: 1200px) {
    margin-left: 50px;
    flex: 1 1 auto;
  }
}

// .contacts__item:not(:last-child) {
//   margin-left: 50px;
// }

.contacts__link {
  
  color: var(--primary-text-color);
  @include font(500, 14px, 1.14, 0.02em);
  text-decoration: none;
  transition-property: color;
  @extend %transition-time;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contacts__icon {
  fill: currentColor;
  width: 20px;
  height: 16px;
  margin-right: 10px;
}
