.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter__button {
  padding: 6px 22px;
  @include font(500, 16px, 1.62, 0 03em);
  text-align: center;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  transition-property: background-color;
  @extend %transition-time;
  &:focus,
  &:hover {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__item:not(first-child) {
  margin-left: 12px;
}
