.footer-social {
  flex: 0 0 100%;
  margin-top: 30px;
  @media (min-width: 768px) {
    flex: 0 0 50%;
    margin-top: 0;
  }
  @media (min-width: 1200px) {
    margin-left: 70px;
    flex: 1;
  }
}

.social {
  display: flex;

  & .item + .item {
    margin-left: 10px;
  }
}

.social__link {
  @extend %align-items;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition-property: background-color;
  @extend %transition-time;
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.icon {
  fill: #fff;
  width: 20px;
  height: 20px;
}
