.social {
  @extend %align-items;
  margin-top: 16px;
}

.social__link {
  @extend %align-items;
  height: 44px;
  width: 44px;
  border-radius: 50px;
  transition-property: background-color;
  @extend %transition-time;
  &:focus,
  &:hover {
    background-color: var(--accent-color);
    transition-property: background-color;
    @extend %transition-time;
  }
}

.social__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.social__link:focus svg,
.social__link:hover svg {
  fill: #fff;
}

.social__links .item + .item {
  margin-left: 10px;
}
